<app-header></app-header>

   
<div class="container py-7">
    <h2 class="text-uppercase text-letter-spacing-xs my-0 text-dark font-weight-bold">
      Notre Equipe <i class="ion-ios-body pl-1 text-primary op-8 z-index-1"></i>
    </h2>
    <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Personal Trainer 1" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign text-md-right">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          Aloui Mohamed
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Scrum Master</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
        <p>
            Le Scrum Master est le gardien du processus agile, guidant l'équipe de développement avec sagesse et facilitant une collaboration fluide pour atteindre les objectifs du projet dans un environnement de travail efficace et motivant.</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 text-md-right">
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Personal Trainer 2" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          Imed Hammami
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Developpeur</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 mb-3">
        <p>Le dévoloppeur crée des fonctionnalités de qualité au sein de l'équipe, collaborant pour atteindre les objectifs du sprint.</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Personal Trainer 3" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign text-md-right">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          Ilyess Ben ali
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Développeur</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
        <p>Causa dolor et immitto typicus. Gilvus minim nunc pala suscipere tation usitas volutpat. Abbas abdo meus.</p>
        <p>Amet incassum mos quidem refoveo tation usitas vicis vulpes. Abigo accumsan acsi adipiscing esca hendrerit interdico occuro suscipere torqueo.</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 text-md-right">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Personal Trainer 4" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                Nour aloui 
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Developpeur</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 mb-3">
        <p>Abico diam scisco. Amet conventio ex ille iriure metuo olim probo. Conventio esca incassum metuo ulciscor.</p>
        <p>Abdo appellatio decet jus mauris neque plaga sino wisi ymo.</p>
      </div>
    </div>



  </div>