<app-header></app-header>

<div class="small-container">
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        <a routerLink="/dashboard">Dashboard</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a href="/projects">Projets</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Modifier un projet</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="mt-4">
      <h1>Modifier un projet</h1>
    </div>
  
    <div class="d-flex">
      <div class="w-100">
        <app-update-proj></app-update-proj>
      </div>
      <div class="w-100 d-flex justify-content-center align-items-center">
         <img
          src="../../../assets/img/project.png"
          alt="banner"
          width="600"
        /> 
      </div>
    </div>
  </div>
  