<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Réinitialisation de Mot de Passe"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <form
      class="login-form"
      (ngSubmit)="submitForm()"
      [formGroup]="validateForm"
    >
     


    <div class="form-container">
      <div class="form-group">
        <label for="userEmail">Email :</label>
        <nz-form-item>
          <nz-input-group>
            <input
              formControlName="userEmail"
              nz-input
              id="userEmail"
              name="userEmail"
              placeholder="email"
            />
          </nz-input-group>
        </nz-form-item>
      </div>
    
      <div class="form-group">
        <label for="resetPasswordToken">Token envoyer dans le mail :</label>
        <nz-form-item>
          <nz-input-group>
            <input
              formControlName="resetPasswordToken"
              nz-input
              id="resetPasswordToken"
              name="resetPasswordToken"
              placeholder="Token"
            />
          </nz-input-group>
        </nz-form-item>
      </div>
    
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe :</label>
        <nz-form-item>
          <nz-input-group>
            <input
              formControlName="newPassword"
              nz-input
              id="newPassword"
              name="newPassword"
              type="password"
              placeholder="nouveau mot de passe "
            />
          </nz-input-group>
        </nz-form-item>
      </div>
    </div>
    

      <div class="d-flex w-100 justify-content-end">
        <button class="bt-primary w-fit-content mt-4" type="submit">
          <i class="ci-plus_circle me-2"></i>
Envoyer        </button>
      </div>
    </form>
  </ng-container>
</nz-modal>
