<app-header></app-header>

<div class="small-container">
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        <a routerLink="/dashboard">Dashboard</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a href="/utilisateurs">Utilisateurs</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Modifier un utilisateur</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="mt-4">
      <h1>Modifier un utilisateur</h1>
    </div>
  
    <div class="d-flex">
      <div class="w-100">
        <app-update-user-modal></app-update-user-modal>
      </div>
      <div class="w-100 d-flex justify-content-center align-items-center">
        <img
          src="../../../assets/img/5204985.jpg"
          alt="banner"
          width="500"
        />
      </div>
    </div>
  </div>
  