
body {
    font-family: "poppins", sans-serif !important;
    background-color: #FAF9FF !important;
  }

  a{
    text-decoration: none;
  }

  h1 {
    font-size: 32px;
    font-weight: 700 !important;
    margin: 0 !important;
    font-family: "poppins";
  }

  .bt-primary {
    padding: 4px 15px;
    height: 45px;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    border: none;
    background: #9672F9;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;

  }

  .ant-modal-confirm .ant-modal-confirm-btns {
    display: flex;
    width: 100%;
  }

  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 15px;
    height: 45px;
    width: 100%;
    color: #fbfcfc;
    font-weight: 600;
    border: 1px solid #dde8f4;
    background: #f2f4f5;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    &:hover,
    &:focus {
      background: #c2d4e8;
      border: 1px solid #dde8f4;
      color: #f3f5f6;
    }
  }

  .ant-btn-dangerous.ant-btn-primary,
  .bt-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 15px;
    height: 45px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    border: none;
    background: #e54f47;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    &:hover,
    &:focus {
      background: #bc352e;
      color: #fff;
    }
  }

  .bt-save {
    padding: 4px 15px;
    height: 45px;

    color: #f0f1fc;
    font-weight: 600;
    border: none;
    background: #9672F9
    ;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    &:hover,
    &:focus {
      background: #9672F9
      ;
    }
  }

  .donate-now {
    list-style-type: none;
    /*   margin: 25px 0 0 0; */
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 !important;
  }

  .donate-now li {
    float: left;
    margin: 0 5px 0 0;
    width: 150px;
    height: 40px;
    position: relative;
    cursor: pointer !important;
  }

  .donate-now label,
  .donate-now input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer !important;
  }

  .donate-now input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }

  .donate-now input[type="radio"]:checked + label,
  .Checked + label {
    background: #9672F9
    ;
    color: #fff;
  }

  .donate-now label {
    padding: 4px 1rem;
    text-align: center;
    height: 32px;
    min-width: 160px;
    white-space: nowrap;
    width: fit-content;
    color: #9672F9
    ;
    font-weight: 600;
    border: none;
    background: #fff;
    border: 1px solid #9672F9
    ;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    cursor: pointer;
    z-index: 90;
  }

  .donate-now.avis label {
    padding: 4px 1rem;
    text-align: center;
    height: 50px !important;
    min-width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: fit-content;
    color: #001b2e;
    font-weight: 600;
    border: none;
    background: #f2f8fc;
    border-bottom: 1px solid #c2d4e8;
    border-right: 1px solid #c2d4e8;
    transition: 0s ease-in-out;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 0px;
    cursor: pointer;
    z-index: 90;
  }

  .donate-now.avis {
    grid-area: 0px;
    gap: 0px;
  }

  .donate-now.avis input[type="radio"]:checked + label,
  .Checked + label {
    background-color: #fff;
    border: 1px solid #c2d4e8;
    border-bottom: 0px;
    color: #f4f7f9;
  }

  .donate-now.avis li {
    width: 100% !important;
    margin: 0 !important;
  }

  .donate-now label:hover {
    background: #dde8f4;
  }

  .check label {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 90;
  }

  .donate-now label:hover {
    background: #ddd;
  }

  .bt-status {
    padding: 4px 2rem;
    height: 32px;
    min-width: 114px;
    color: #fff;
    font-weight: 600;
    border: none;
    background: #e4e5ee;
    border: 1px solid #9672F9
    ;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    &.active {
      background: #9672F9
      ;
      color: #7F87F1;
    }
    &:hover:not(.active) {
      background-color: #dde8f4;
    }
  }
  .filter-status {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #9672F9
    ;
    padding-bottom: 20px;
    p {
      margin-bottom: 0 !important;
      font-weight: 700;
      font-size: 14px;
    }
  }
  .line-table {
    border-bottom: 1px solid #dde8f4;
  }

  .bt-second {
    padding: 4px 15px;
    height: 45px;
    width: 100%;
    color: #9672F9;
    font-weight: 600;
    border: none;
    background: #fff;
    border: 2px solid #9672F9;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    &:hover,
    &:focus {
      background: #9672F9;
      color: #fff;
    }
  }

  .navbar {
    position: relative;
    height: 64px;
    padding: 0;
    background: #f6f4f4;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    padding: 10px 10px 10px 30px;
    top: 9px;
    right: 0;
    width: 100%;
  
    }

    .actions{
      display: flex;
      align-items: center;
      gap: 20px;
      div i{
        font-size: 24px;
        font-weight: 500;
      }
    }

    h1{
      font-weight: 700 !important;
      font-size: 32px;
      line-height: 48px;



      color: #3E4756;

    }







    .avatar {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      h5 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0 !important;
        text-transform: capitalize !important;
      }
    }
  

  .responsive-navbar {
    display: none;

    gap: 15px;
  }

  .card-view{
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;

   box-shadow: 0px 4px 10px rgba(58, 53, 65, 0.1);
    h2{
      font-weight: 700;
font-size: 16px;
margin: 0;
padding: 15px 0;
    }
    .card-title{
      margin-bottom: 20px;


    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color:  #F2F8FD;
      ;
    }
    }
  }


  aside {
    position: sticky;

    top: 0;
    left: 0;
    min-width: 270px;
margin: 20px;
    background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(58, 53, 65, 0.1);
border-radius: 8px;

    height: 100vh;


  }
  app-page-container {
    width: 100%;
  }

  .app {
    display: flex;
    width: 100%;
  }

  .container-app {
    width: 100%;
    max-width: 1920px;
  }

  .logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .small {
      padding: 15px 4rem;
      img {
        object-fit: contain;
        aspect-ratio: 2/3;
      }
    }
  }

  .dropdown {
    li {
      font-weight: 500;
      font-size: 16px;
      padding: 10px 20px;
      i {
        font-weight: 600;
        font-size: 18px !important;
      }
    }
  }

  .ant-modal-content {
    border-radius: 8px;
  }

  .logo::after {
    content: " ";
    align-self: start;
    width: 100%;
    height: 1px;
    background: #ebf1f8;
  }



  .menu {
    margin-top: 3rem;
    max-height: 100vh;
    height: calc(100% - 9rem);
    ul {

      -ms-overflow-style: none;
      scrollbar-width: none;
      max-height: calc(100vh - 16rem);
      transition: 0.2s ease-in-out;
      overflow-y: hidden;
      &:hover {
        overflow-y: auto;
      }
      padding: 0 20px !important;
      list-style: none;
    }

    li {
      transition: 0.2s ease-in-out;
      i {
        font-size: 20px;
        font-weight: 600;
      }

      ul {
        background-color: var(--color-bg);
        border-radius: 8px;
        transition: ease-in-out 0.3s;
        li > a {
          display: flex;
          align-items: center;

          color: #253866;
          font-weight: 500;
          font-size: 15px;
          padding: 11px 2rem !important;
          padding-left: 2rem !important;
          white-space: nowrap;
          transition: color 0.2s ease-in-out;
        }
      }

      & > .side-link > a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #253866;
        font-weight: 500;
        font-size: 15px;
        padding: 15px;
        padding-left: 3.5rem;
        white-space: nowrap;
        &.active{
          background: #EDE7FE;
          border-radius: 8px;
        }
      }

      & > .side-link > a {
        display: flex;
        align-items: center;

        gap: 10px;
        color: #253866;
        font-weight: 600;
        font-size: 15px;
        padding: 15px 2rem !important;
        white-space: nowrap;
        transition: color 0.2s ease-in-out;
      }
    }
    .side-link.active{
      background-color: #f0f1fc;
      border-radius: 8px;
    }

    li.last-link a {
      padding: 15px 2rem !important;
    }

    li a:hover {
      color: var(--color-link);

      width: calc(100%);
    }

    &.small-menu {
      height: calc(100% - 11.7rem);
      li {
        i {
          font-size: 24px;
          font-weight: 500;
        }
        & > a,
        & > div > a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #253866;
          font-weight: 600;
          font-size: 18px;
          padding: 15px;

          transition: 0.2s ease-in-out;
        }

        & > div > a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #253866;
          font-weight: 600;
          font-size: 14px;
          padding: 15px;

          transition: 0.2s ease-in-out;
        }
        & > div {
          ul {
            padding-left: 0.5rem !important;
          }
        }
      }
      li a.active {

        transition: 0.2s ease-in-out;
      }
    }
  }

  .side-bottom {
    background-color: #fff;

    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    .link {
      color: #001b2e;
      font-weight: 600;
      font-size: 18px;
      padding: 0px 4rem;
      i {
        font-size: 22px;
      }
    }

    &.small {
      .link {
        color: #001b2e;
        font-weight: 600;
        font-size: 24px;
        padding: 15px 2.5rem;
      }
    }

    .footer {
      padding-top: 15px;
      &::before {
        content: "";
        background-color: #dde8f4;
        width: 100%;
        height: 1px;
        display: block;
      }
      p {
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        padding-left: 4rem;
        color: #787878;
        line-height: 55px;
        margin: 0 !important ;
      }
    }
  }

  .spinner-border {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  button:disabled {
    opacity: 0.7;
    cursor: inherit !important;
    &:hover {
      background-color: #9672F9;
      opacity: 0.7;
    }
  }

  .ant-notification-notice {
    border-radius: 8px !important;
  }

  .anticon {
    &.ant-notification-notice-icon-success {
      font-size: 32px !important;
    }
  }

  .dash-container {
    padding:2rem;
  }
  .space-top {
    margin-top: 2rem;
  }

  .app{
    & > *:last-child{
      flex: 1;
    }
  }

  .w-100{
    .row{
      --bs-gutter-y: 2rem !important;
    }
  }

  div .card-doc{
    display: flex;

      align-items: center;
      gap: 50px;
      width: 100%;
      .folder{
        i{
          color: #9672F9;
        }

        font-size: 42px;
      }

      h2{
        font-size: 20px !important;
      }

      h2, h5{
        margin: 0 !important;
      }
      /*  min-width: 236px; */
      min-height: 100px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 10px 15px;

      background-color: #fff;
      .values {

        .title-stat {
          color: #adb6c4;
          font-weight: 600;
          font-size: 14px !important;
        }
        display: flex;
        flex-direction: column;

        justify-content: center;
        gap: 10px;
      }


      .yellow {
        i {
          color: #f2cb7d;
          font-size: 42px;
          font-weight: 400;
        }
      }

      .green {
        i {
          color: #1ccea5;
          font-size: 42px;
          font-weight: 400;
        }
      }
      .blue {
        i {
          color: var(--color-1st);
          font-size: 42px;
          font-weight: 400;
        }
      }
      .red {
        i {
          color: #c96b9f;
          font-size: 42px;
          font-weight: 400;
        }
      }
    }



  .row {
    --bs-gutter-x: 2rem !important;
    div .card-stat {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /*  min-width: 236px; */
      min-height: 114px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 10px 15px;

      background-color: #fff;
      .values {
        .title-stat {
          color: #adb6c4;
          font-weight: 600;
          font-size: 14px !important;
        }
        display: flex;
        flex-direction: column;
        gap: 10px;
      }


      .yellow {
        i {
          color: #f2cb7d;
          font-size: 42px;
          font-weight: 400;
        }
      }

      .green {
        i {
          color: #1ccea5;
          font-size: 42px;
          font-weight: 400;
        }
      }
      .blue {
        i {
          color: var(--color-1st);
          font-size: 42px;
          font-weight: 400;
        }
      }
      .red {
        i {
          color: #c96b9f;
          font-size: 42px;
          font-weight: 400;
        }
      }
    }
  }

  .ant-table-thead > tr > th {
    background: #f2f8fd;
    font-weight: 600;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 27px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #dde8f4;
    background-color: #f2f8fc;
    border-radius: 8px;
    font-size: 12px;
  }
  /* .ant-table-tbody > tr > td {
    white-space: nowrap;
  } */

  .card-dash {
    min-width: 320px;
    align-items: center;
    min-height: 100%;
    border: 1px solid #dde8f4;
    padding: 20px;
    border-radius: 8px;
    .top-card-dash {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 0px;
      margin-bottom: 25px;
      border-bottom: 2px solid #f2f8fd;
      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0 !important;
      }
    }
  }
  .w-initial {
    width: initial !important;
  }

  .filter-items {
    padding: 20px !important;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    border-radius: 8px !important;
    gap: 15px;
    .bt-primary {
      max-width: 172px;
      margin-top: 22px;
    }
    & > * {
      flex-grow: 1;
    }
    .full-width {
      padding: 0;
      max-width: 100% !important;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #dde8f4;
  }

  .small-container {
    padding: 1rem 2rem;
  }

  .ant-upload.ant-upload-drag .ant-upload-drag-container {
    display: flex;
    gap: 20px;
    padding: 10px 30px;
  }

  .ant-upload.ant-upload-drag p.ant-upload-drag-icon {
    margin-bottom: 0 !important;
  }
  .ant-upload.ant-upload-drag p.ant-upload-text {
    text-align: left;
  }

  form h2 {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #dde8f4;
    line-height: 35px;
  }

  .title-heading {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #dde8f4;
    line-height: 35px;
  }

  form .line-bottom {
    border-bottom: 1px solid #dde8f4;

    h2 {
      border-bottom: none;
      line-height: 20px;
    }
  }

  .ant-breadcrumb {
    color: rgb(112 118 124);
  }

  .ant-breadcrumb > nz-breadcrumb-item:last-child {
    color: #9672F9 !important;
    font-weight: 500;
  }

  .ant-upload.ant-upload-drag {
    background: #f2f8fc;
    border: 1px dashed #dde8f4;
  }

  .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: #9672F9;
  }

  .filter-items {
    padding: 15px 0px;
  }

  .table-invoice tr td:first-child {
    min-width: 200px;
  }

  td.description {
    max-width: 180px;
    overflow-inline: ellipsis;
    overflow: hidden;
  }

  .number {
    cursor: pointer;

    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }

  .login {
    img {
      object-fit: contain;
      aspect-ratio: 2/3;
    }
  }

  .actions-table {
    span {
      cursor: pointer;
    }
    span {
      vertical-align: middle;
      display: flex;
      align-items: center;
      color: #ffa39e;
      i {
        font-size: 20px;
      }
    }
    .icon i {
      color: #001b2e !important;
    }
  }

  .status {
    text-align: center;
    min-width: 150px;
    border-radius: 8px;
  }

  .Payé,
  .PAYE {
    background-color: #f3fffe;
    color: #95d1cc;

    border: 1px solid #95d1cc;
  }

  .Pending,
  .PENDING {
    background-color: #fffcf6;
    color: #dfc18c;

    border: 1px solid #dfc18c;
  }

  .Brouillon,
  .BROUILLON {
    background-color: #f2f8fd;
    color: #9672F9
    ;

    border: 1px solid #9672F9
    ;
  }
  .Annulé,
  .ANNULE {
    background-color: #fffcfc;
    color: #ffa39e;

    border: 1px solid #ffa39e;
  }

  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left,
  .apexcharts-legend.apx-legend-position-top.apexcharts-align-left,
  .apexcharts-legend.apx-legend-position-right,
  .apexcharts-legend.apx-legend-position-left {
    bottom: 44px !important;
    right: 25px !important ;
    top: inherit !important;
    justify-content: flex-start;
  }

  .ant-pagination-disabled .ant-pagination-item-link,
  .ant-pagination-disabled:hover .ant-pagination-item-link,
  .ant-pagination-disabled:focus-visible .ant-pagination-item-link {
    border-radius: 8px;





















    align-items: center;
    justify-content: center;
  }

  .ant-pagination-item {
    border-radius: 8px;
  }
  .ant-pagination-item-active {
    background-color: #9672F9;
    border-color: #9672F9;
    a {
      color: #fff;
    }
  }
  .ant-form-item .ant-picker-calendar-year-select,
  .ant-form-item .ant-picker-calendar-month-select,
  .ant-form-item .ant-input-group .ant-select,
  .ant-form-item .ant-input-group .ant-cascader-picker {
    width: 100% !important;
  }

  .ant-modal-header {
    border-radius: 8px 8px 0 0;
  }

  .ant-pagination-total-text {
    /*   width: calc(100% - 17.5rem); */
    display: flex;
    justify-content: flex-start;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 45px;
    &:hover {
      border: 1px solid #dde8f4 !important;
      box-shadow: none !important;
    }
    &:focus,
    &:active {
      border: none !important;
      box-shadow: none !important;
      outline: 1.3px solid #9672F9 !important;
    }
  }

  .ant-pagination-options {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      height: 100% !important;
      background-color: #fff !important;
      line-height: initial !important;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      line-height: 30px !important;
    }
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border-radius: 8px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 8px;
  }

  @media screen and (max-width: 1300px) {
    .row {
      --bs-gutter-y: 2rem;
    }
  }

  @media screen and (max-width: 1640px) {
    .dash-container {
      .ant-table-content {
        overflow-x: auto;
        table {
          min-width: 1000px;
        }
      }
      .clients {
        .ant-table-content {
          overflow-x: auto;
          table {
            min-width: 250px;
          }
        }
      }
      .ant-table-tbody > tr > td {
        overflow: hidden;
      }
    }
    h1 {
      font-size: 1.5rem;
    }

    aside .logo .small {
      padding: 15px 2.5rem;
      img {
        width: 140px;
        height: 44px;
      }
    }

    .aside-small .logo .small {
      padding: 15px 2.5rem;
      img {
        width: 30px;
        height: 44px;
      }
    }


    .side-bottom.small .link {
      padding: 15px 2.5rem;
    }

    .role {
      text-transform: lowercase;
    }

    app-sidebar {
      background: #FAF9FF;
    }

    .ant-pagination-total-text {
      width: initial;
    }
    aside {
      position: sticky;

      top: 0;
      left: 0;
      width: 297px;
      background: #fff;
      border-right: 1px solid #f2f4f5;
      height: 100vh;

      &.aside-small {
        position: sticky;

        top: 0;
        left: 0;
        min-width: 80px;
        width: 80px !important;

        .logo {
          display: flex;
          justify-content: center;
          flex-direction: column;
          .small {
            padding: 15px 1.5rem;
          }
        }
      }
    }

    .menu {
      max-height: 100vh;
      height: calc(100% - 13rem);
      ul {
        -ms-overflow-style: none;
        scrollbar-width: none;
        max-height: calc(100vh - 13rem);
        transition: 0.2s ease-in-out;
        overflow-y: hidden;
        &:hover {
          overflow-y: auto;
        }
        padding: 0 20px !important;
        list-style: none;
      }

      li {
        transition: 0.2s ease-in-out;
        i {
          font-size: 20px;
          font-weight: 600;
        }
        & > a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #001b2e;
          font-weight: 600;
          font-size: 15px;
          padding: 10px 2.5rem;
        }
      }
      li a.active {
        background-color: #EDE7FE;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        color: #253866;

        width: 100%;
        transition: 0.2s ease-in-out;
      }

      li a:hover {
        /*  background-color: #e8eef6; */
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        color: #9672F9;
        width: 100%;
      }

      &.small-menu {
        height: calc(100% - 14rem);
        li {
          i {
            font-size: 20px;
            font-weight: 600;
          }
          & > a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #001b2e;
            font-weight: 600;
            font-size: 15px;
            padding: 10px 1.5rem;
            transition: 0.2s ease-in-out;
          }
        }
        li a.active {
          background-color: #dde8f4;

          transition: 0.2s ease-in-out;
        }

        li a:hover {
          /*  background-color: #e8eef6; */

          color: #9672F9;
        }
      }
    }

    .side-link.active{
      background-color: #f0f1fc;
      border-radius: 8px;
    }

    .side-bottom .link {
      color: #001b2e;
      font-weight: 600;
      font-size: 15px;
      padding: 0px 2.5rem;
    }

    .side-bottom .footer p {
      padding-left: 2.5rem;
      font-size: 10px;
    }
  }

  .ant-upload.ant-upload-select-picture-card {
    background-color: #f2f8fc;
  }

  @media screen and (max-width: 868px) {
    .filter-items,
    .heading,
    .filter-status,
    .donate-now {
      flex-wrap: wrap;
    }

    .hide,
    h5.username {
      display: none;
    }
    .responsive-navbar {
      display: flex;
      align-items: center;
      gap: 15px;
      .logo-navbar {
        padding: 0 15px;
        border-right: 1px solid #c2d4e8;
        img {
          width: 25px;
          height: 38px;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: #001b2e;
        font-weight: 600;
        font-size: 14px;
        i {
          font-weight: 500;
          font-size: 26px;
          color: #9672F9
          ;
        }
      }
    }

    .card-dash {
      min-width: 100%;
    }

    .ant-drawer-body {
      padding: 0px;
      aside {
        min-height: 100vh;
        height: 100%;

        .menu {
          overflow-y: scroll;
          ul {
            max-height: calc(100vh - 10rem);
          }
        }
      }
    }
  }
  .unites-padding{
    margin-bottom: 22px;
  }
  .ant-modal-confirm .ant-modal-confirm-btns {
    display: flex;
    width: 100%;
  }
  .ant-modal-content {
    border-radius: 8px;
  }
  .ant-modal-header {
    border-radius: 8px 8px 0 0;
  }